<div class="container vertify centrify">
  <div class="row justify-content-center mb-3">
    <div class="col-6 text-center">
      <img class="logo" src="../assets/stack.svg" id="logo" />
      <h1 class="display-2">404</h1>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-8 text-center">
      <blockquote class="blockquote">
        <p class="mb-0">Page not found :(</p>
      </blockquote>
    </div>
    <div class="col-8 text-center">
      <button class="btn btn-primary" routerLink="/search">Go to search form</button>
    </div>
  </div>
</div>
